.body {
  background-color: rgb(255, 255, 255);
}

.eq-avatar {
  max-height: 150px;
  margin-right: 10px;
}
.eq-avatar:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

.eq-card {
}

.eq-card-img {
  max-height: 300px;
}

.row-of-cards,
.row-of-avatars {
  display: flex;
  overflow-x: scroll;
}

.row-of-cards::-webkit-scrollbar,
.row-of-avatars::-webkit-scrollbar {
  display: none;
}

.form {
  text-align: center;
}
