.body {
  background-color: rgb(255, 255, 255);
}
.home {
  margin-top: 75px;
  width: 100%;
}

.eq-avatar {
  max-height: 150px;
  margin-right: 10px;
}
.eq-grid {
  max-height: 500px;
  margin-right: 10px;
}
.eq-avatar:hover,
.eq-grid:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

.eq-card {
}

.eq-card-img {
  max-height: 300px;
}

.eq-grid-img {
  max-height: 75px;
}

.row-of-cards,
.row-of-avatars {
  display: flex;
  overflow-x: scroll;
}

.row-of-cards::-webkit-scrollbar,
.row-of-avatars::-webkit-scrollbar {
  display: none;
}

.form {
  text-align: left;

  max-width: 200px;
}
