.body {
  background-color: rgb(255, 255, 255);
}

.home {
  margin-top: 0px;
  width: 100%;
}

.corpus {
  margin-top: 10px;
}

.navbar {
  height: 60px;
  background-color: rgb(211, 211, 211);
  border-radius: 0px;
}

.column-of-avatars {
  max-height: 500px;
  margin-right: 10px;
  border-style: inset;
  border: black;
}
.eq-avatar:hover,
.eq-grid:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

.eq-avatar {
  max-height: 125px;
  margin-right: 10px;
}
.eq-card {
}

.eq-card-img {
  max-height: 300px;
}

.eq-grid-img {
  max-height: 75px;
}

.eq-grid {
  text-align: center;
}

.row-of-cards,
.row-of-avatars {
  display: flex;
  overflow-x: scroll;
  padding: 15px;
}

.row-of-cards::-webkit-scrollbar,
.row-of-avatars::-webkit-scrollbar {
  display: none;
}

.form {
  text-align: left;
  max-width: 200px;
}
